/* CSS Document */

/*Should be normal full-hd monitor*/
@media (min-width: 1200px){
	p {
		text-align: center;
	}

	h1 {
		text-align: center;
	}

	#footer {
   		position: absolute;
   		bottom: 0;
   		width: 100%;
   		height: 40px;   /* Height of the footer */
		background-color: dimgray;
	}
	
	hr {
		display: block;
	}
	
	.navbar-default {
  		background-color: dimgray;
  		background-image: none;
  		background-repeat: no-repeat;
 	}
}

