// Taken From Boostrap Album example => https://getbootstrap.com/docs/4.3/examples/album/album.css
.jumbotron
  padding-top: 3rem
  padding-bottom: 3rem
  margin-bottom: 0
  background-color: #fff

  p:last-child
    margin-bottom: 0

@media (min-width: 768px)
  .jumbotron
    padding-top: 6rem
    padding-bottom: 6rem

.jumbotron-heading
  font-weight: 300

.jumbotron .container
  max-width: 40rem

footer
  padding-top: 3rem
  padding-bottom: 3rem

  p
    margin-bottom: .25rem

.bd-placeholder-img
    font-size: 1.125rem
    text-anchor: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

@media (min-width: 768px)
    .bd-placeholder-img-lg 
        font-size: 3.5rem



// Custom styles
$font-stack: 'Titillium Web', sans-serif

body
    font: $font-stack

.bd-placeholder-img
    font-size: 1.125rem
    text-anchor: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

@media (min-width: 768px)
    .bd-placeholder-img-lg
        font-size: 3.5rem

#home
    padding-top: 25vh
    font: $font-stack

    /* IMAGE SETTINGS */
    background-image: url("../images/code.png")
    max-width: 100%
    height: auto
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: blur(.05px)
    -webkit-filter: blur(.05px)

/* WELCOME MESSAGE TEXT */
#centered-text
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0, 0.4)
  color: white
  font-weight: bold
  border: 3px solid #f1f1f1
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 2
  width: 40%
  padding: 20px
  text-align: center
  font: $font-stack

.footer
    font: $font-stack

.skill
    font: $font-stack

.other
    font: $font-stack

#navbarHeader
    font: $font-stack

.disabled
    cursor: not-allowed