/* CSS Document */
@media (max-width: 575px){
	p, h1, h3, h5 {
		text-align: left;
	}

	.footer {
		position: fixed;
		height: 50px;
		background-color: rgb(255, 136, 0);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}
	.navbar-default {
		background-color: rgb(255, 136, 0);
		background-image: none;
		background-repeat: no-repeat;
  	}

	#bg {
		background-image: url("../images/background.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body {
		height: 100%;
		margin-bottom:50px;
	}

	section {
		display: block;
	}

	.project-section {
		padding: 10rem 0;
		position: absolute;
	}

	a:hover, i:hover {
		color: gray;
	}
}

@media (min-width: 576px){
	p, h1, h3, h5 {
		text-align: left;
	}

	.footer {
		position: fixed;
		height: 50px;
		background-color: rgb(255, 136, 0);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}
	
	.navbar-default {
		background-color: rgb(255, 136, 0);
		background-image: none;
		background-repeat: no-repeat;
  	}

	#bg {
		background-image: url("../images/background.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body {
		height: 100%;
		margin-bottom:50px;
	}

	section {
		display: block;
	}

	.project-section {
		padding: 10rem 0;
		position: absolute;
	}

	a:hover, i:hover {
		color: gray;
	}

}

@media (min-width: 768px){
	p, h1, h3, h5 {
		text-align: left;
	}

	.footer {
		position: fixed;
		height: 50px;
		background-color: rgb(255, 136, 0);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}

	.navbar-default {
		background-color: rgb(255, 136, 0);
		background-image: none;
		background-repeat: no-repeat;
  	}

	#bg {
		background-image: url("../images/background.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body {
		height: 100%;
		margin-bottom:50px;
	}

	section {
		display: block;
	}

	.project-section {
		padding: 10rem 0;
		position: absolute;
	}

	a:hover, i:hover {
		color: gray;
	}
}

@media (min-width: 992px){
	p, h1, h3, h5 {
		text-align: left;
	}

	.footer {
		position: fixed;
		height: 50px;
		background-color: rgb(255, 136, 0);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}
	.navbar-default {
		background-color: rgb(255, 136, 0);
		background-image: none;
		background-repeat: no-repeat;
  	}

	#bg {
		background-image: url("../images/background.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body {
		height: 100%;
		margin-bottom:50px;
	}

	section {
		display: block;
	}

	.project-section {
		padding: 10rem 0;
		position: absolute;
	}

	a:hover, i:hover {
		color: gray;
	}
}

/*Should be normal full-hd monitor*/
@media (min-width: 1200px){
	p, h1, h3, h5 {
		text-align: left;
	}

	.footer {
		position: fixed;
		height: 50px;
		background-color: rgb(255, 136, 0);
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}

	.navbar-default {
		background-color: rgb(255, 136, 0);
		background-image: none;
		background-repeat: no-repeat;
  	}

	#bg {
		background-image: url("../images/background.jpg");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	body {
		height: 100%;
		margin-bottom:50px;
	}

	section {
		display: block;
	}

	.project-section {
		padding: 10rem 0;
		position: absolute;
	}

	a:hover, i:hover {
		color: gray;
	}
}